
<div class="d-flex align-items-center justify-content-center"><p>Hello, ini adalah website untuk membuat jadwal suatu event</p></div>
<div class="d-flex align-items-center justify-content-center"><p>selamat menikmati website nya!</p></div>
  