<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Selamat Datang Di example.com, <%= %></h1>
    <p>
      Kamu tekah berhasil signed up ke example.com,
      username kamu adalah: <%= %>.<br>
    </p>
    <p>
      Untuk login silahkan ikuti link ini: <%= %>.
    </p>
    <p>Terimaksih telah bergabung :D</p>
  </body>
</html>
